<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
      <XDSML_Definition
            modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader"
            name="dummylanguage"
            xdsmlFilePath="platform:/plugin/dummylanguage/model/dummylanguage.dsl">
      </XDSML_Definition>
   </extension>
</plugin>
